{% extends '::base.html.twig' %}

{% block body -%}
    <div class="padding">
        <div class="row">
            <div class="col-md-12">
                <div class="box">

                    <div class="box-header">
                        <h2>Scheduled Orders</h2>
                    </div>

                    <div class="box-body">
                        <table class="table table-condensed table-striped">
                            <tr>
                                <th>Order No</th>
                                <th>Order Receive Date</th>
                                <th class="text-center">In Production</th>
                                <th class="text-center">Delivery To</th>
                                <th class="text-center">Delivery Schedule for Week Commencing</th>
                                <th class="text-center">Day Schedule for Delivery</th>
                                <th class="text-right">Action</th>
                            </tr>

                            {% for entity in entities %}
                            <tr>
                                <td colspan="6" style="background-color: {% if entity.brand == 'Oaktree' %}green{% else %}navy{% endif %}; font-weight: bold; color: #ffffff; font-size: 18px;">{{ entity.brand }} - {{ entity.docNo }}</td>
                                <td align="right" style="background-color: {% if entity.brand == 'Oaktree' %}green{% else %}navy{% endif %};">
                                </td>
                            </tr>

                            {% for order in entity.saleOrder %}
                                <tr>
                                    <td>{{ order.orderNo }}</td>
                                    <td>{% if order.orderReceiveDate %}{{ order.orderReceiveDate|date('d/m/Y') }}{% endif %}</td>
                                   {% if loop.index0 == 0 %}
                                    <td rowspan="{{ entity.saleOrder|length }}" style="vertical-align: middle !important;" align="center">
                                        {% if entity.docStatus is constant('Doc_New', entity) %}
                                            {% elseif entity.docStatus is constant('Doc_In_Production', entity) %}
                                            <a style="font-size: 20px; color: green; border: 1px solid green; padding: 10px;">In Production</a>
                                        {% endif %}
                                    </td>
                                       <td align="center" rowspan="{{ entity.saleOrder|length }}" style="vertical-align: middle !important;">
                                           {% if entity.orderAddress %}
                                               {{ entity.orderAddress|nl2br }}
                                           {% endif %}
                                       </td>
                                       <td align="center" rowspan="{{ entity.saleOrder|length }}" style="vertical-align: middle !important;">
                                           {% if entity.deliveryScheduleDate %}
                                               <a style="font-size: 20px; color: green; border: 1px solid green; padding: 10px;">{{ entity.deliveryScheduleDate|date('d/m/Y') }}</a>

                                           {% endif %}
                                       </td>
                                       <td align="center" rowspan="{{ entity.saleOrder|length }}" style="vertical-align: middle !important;">
                                           {% if entity.deliveryScheduleDay %}
                                               <a style="font-size: 20px; background-color: green; color: white; border: 1px solid green; padding: 10px; display: block;">{{ entity.deliveryScheduleDay|date('l') }}</a>
                                               {{ entity.deliveryScheduleDate|date('d/m/Y') }}
                                           {% else %}
                                               <a class="btn" style="font-size: 20px;  background-color: red; color: white; border: 1px solid red; display: block; padding: 10px;">TBC</a>
                                           {% endif %}
                                       </td>
                                    <td align="center" rowspan="{{ entity.saleOrder|length }}" style="vertical-align: middle !important;">
                                        {% if entity.viewManifest %}
                                        <a target="_blank" href="{{ path('docorder_pdf', {'id' : entity.id}) }}" class="btn black btn-sm">View Manifest</a>
                                        {% endif %}
                                       {% if entity.webPath %}
                                           <a target="_blank" href="{{ asset(entity.webPath) }}" class="btn black btn-sm">View Document</a>
                                       {% endif %}
                                    </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
