{% extends '::base.html.twig' %}

{% block body -%}
    <div class="padding">
        <div class="row">
            <div class="col-md-12">
                <div class="box">

                    <div class="box-header">
                        <h2>Document Order - {{ entity.docNo }} - {{ entity.brand }}</h2>
                        <div class="box-tool">
                            {{ form(delete_form) }}
                        </div>
                    </div>

                    <div class="box-body">
                        <table class="table table-condensed table-striped">
                            <tr>
                                <th>Order No</th>
                                <th>Order Receive Date</th>
                                <th class="text-center">Total Items</th>
                                <th class="text-right"></th>
                            </tr>

                            {% for entity in entity.saleOrder %}
                                <tr>
                                    <td>{{ entity.orderNo }}</td>
                                    <td>{% if entity.orderReceiveDate %}{{ entity.orderReceiveDate|date('d/m/Y') }}{% endif %}</td>
                                    <td align="center">{{ entity.items }}</td>
                                    <td align="right">
                                        <a href="{{ path('order_edit', {'id' : entity.id}) }}" class="btn btn-info btn-xs">Edit</a>
                                        <a class="btn btn-xs btn-danger" href="{{ path('cancel_order_edit', { 'id': entity.id }) }}">Cancel Order</a>
                                        <a class="btn btn-xs btn-warning" href="{{ path('hold_order_edit', { 'id': entity.id }) }}">Hold Order</a>
                                        <a class="btn btn-xs black" href="{{ path('order_pdf_labels', { 'id': entity.id }) }}">Labels</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <td colspan="6">
                                    <a href="{{ path('docorder_add_orders', {'id' : entity.id}) }}" class="btn btn-block btn-info">Add orders to schedule</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="dker p-a text-right">
                        <a ui-sref="app.widget" class="btn btn-default" href="{{ path('docorder') }}">
                            Back
                        </a>
                        <a ui-sref="app.widget" class="btn info" href="{{ path('docorder_new') }}">
                            New Schedule
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
