{% extends '::base.html.twig' %}

{% block body -%}
<div class="padding">
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header">
                    <h2>Base list</h2>
                </div>




    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Base type</th>
                <th>Base depth</th>
                <th>No. of bases</th>
                <th>Max drawers</th>
                <th>Isdrawer</th>
                <th>Mattressinpack</th>
                <th>Actionincluded</th>
                <th>Noaction</th>
                <th>Sortorder</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td colspan="10" style="font-weight:bold; font-size: 20px !important; background-color: #636363; color: #ffffff;">{{ category }}</td>
            </tr>
        {% for entity in category.base %}
            <tr>
                <td>{{ entity.baseType }}</td>
                <td>{{ entity.baseDepth }}</td>
                <td>{{ entity.noBases }}</td>
                <td>{{ entity.maxDrawers }}</td>
                <td>{{ entity.isDrawer }}</td>
                <td>{{ entity.mattressInPack }}</td>
                <td>{{ entity.actionIncluded }}</td>
                <td>{{ entity.noAction }}</td>
                <td>{{ entity.sortOrder }}</td>
                <td align="right">
                    <a class="btn btn-info btn-xs" href="{{ path('base_edit', { 'id': entity.id }) }}">Edit</a>
                    <a class="btn btn-info btn-xs" href="{{ path('base_copy', { 'id': entity.id }) }}">Copy</a>
                </td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

                    <div class="dker p-a text-right">
                    <a ui-sref="app.widget" class="btn info" href="{{ path('base_new') }}">
                        New Base
                    </a>
                </div>
                </div>

        </div>
    </div>
</div>

{% endblock %}
