{% extends '::base.html.twig' %}


{% block body -%}
    <div class="padding">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <div class="pull-right" style="margin-top: -10px; margin-right: -20px;">
                            {% if delete_form is defined %}
                                {{ form(delete_form) }}
                            {% endif %}
                        </div>
                        <h2>Courier / Add</h2>
                    </div>
                    <div class="box-divider m-a-0"></div>
                    {{ form_start(form) }}
                    <div class="box-body" style="padding-bottom: 40px;">
                        {{ form_row(form.courierName) }}
                        {{ form_row(form.courierNumber) }}
                        {{ form_row(form.file) }}
                        {{ form_row(form.color) }}
                    </div>
                    <div class="dker p-a text-right">
                        <a href="{{ path('courier') }}" class="btn btn-default">Back</a>
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/jscolor/jscolor.js') }}"></script>
{% endblock %}