{% extends '::base.html.twig' %}

{% block body -%}
<div class="padding">
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header">
                    <h2>Ordernews list</h2>
                </div>

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>News</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ordernews_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.news }}</td>
                <td align="right">
                    <a class="btn btn-xs btn-info" href="{{ path('ordernews_edit', { 'id': entity.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                    <div class="dker p-a text-right">
                    <a ui-sref="app.widget" class="btn info" href="{{ path('ordernews_new') }}">
                        New Ordernews
                    </a>
                </div>
                </div>

        </div>
    </div>
</div>

{% endblock %}
